src/main/java/com/epam/lab/task1/XSD.xml.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="students" type="studentsType"/>
  <xs:complexType name="studentType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:byte" name="age"/>
      <xs:element type="xs:string" name="major"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="studentsType">
    <xs:sequence>
      <xs:element type="studentType" name="student" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>